sqlalchemy
pyodbc
pymysql
python-dotenv
requests
pydantic
fastapi
uvicorn
pydantic[email]
passlib
bcrypt
python-multipart
flask
flet
qrcode
pyinstaller
auto-py-to-exe
numpy
openpyxl
pandas
pillow
pyarrow
beautifulsoup4

PyQt5
PyQt5-tools
PyQt5Designer

reportlab
pyqtdarktheme
matplotlib

win11toast
pyautogui
tqdm

flask-sqlalchemy
flask-migrate
flask-wtf
email_validator

streamlit